<h1 class="dino-title" ng-class="{fixed:boolChangeClass}" scroll-position="scroll">
    <button class="nav-button" ng-click="ImagesGridCtrl.prevPage()" tabindex="0" aria-label="Previous page navigation">
        <span class="hidden">Previous page</span>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
    The Jurassic Age
    <button class="nav-button" ng-click="ImagesGridCtrl.nextPage()" tabindex="1" aria-label="Next page navigation">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
</h1>




<div class="dino-grid">
    <div class="row">

        <div class="dino-item image-height"
             ng-repeat="image in ImagesGridCtrl.images.photo">
            <image-Item image="image" >

            </image-Item>

        </div>

    </div>
</div>
