//Fonts
$title-font: 'Ravi Prakash', cursive;
$title-font2: 'Bungee Inline', cursive;
$standard-font: 'Roboto', sans-serif;

@import 'buttons.images';

.fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  right: 0px;
  margin: auto;

  .dino-title {

  }


  .dino-grid{
    margin-top: 110px;
  }


}

.dino-title {
  text-transform: uppercase;
  font-size: 82px;
  padding-top: 15px;
  /* line-height: 91px; */
  text-orientation: initial;
  background-color: black;
  color: white;
  /* text-shadow: #444444 10px 20px 10px; */
  text-align: center;
  font-family: "Ravi Prakash", cursive;
  border: 4px solid yellow;

  transition: 1s ease all;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  right: 0px;
  margin: auto;


}

.dino-title.fixed {
  font-size: 60px;
}


.dino-grid {
  margin-top: 110px;
  width:100%;



  .dino-item {

    width: 25%;
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover{
      &:before{
        opacity: 1;
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left:0px;
        right: 0px;
      }
      
    }



  }
}

@import 'responsive.images';
